/* * {
    border: 1px solid red;
} */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    justify-content: center;
}



.header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #1F2937;
}

.header ul {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    color:#F9FAF8;
    gap: 20px;
    justify-content: space-evenly;
    margin: 32px;
    font-size: 18px;
    flex-wrap: wrap;
}

.header-logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    align-items: center;
    margin: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.first {
    display: flex;
    background: #1F2937;
    color: #F9FAF8;
    flex-wrap: wrap;
}

.first-text {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: -webkit-fill-available;
}

.first-text-container h1,
.first-text-container p {
    display: flex;
    text-align: center;
    max-width: -webkit-fill-available;
    width: auto;
    flex-wrap: wrap;
    flex-shrink: 1;
    box-sizing: border-box;
}

.first-text-container {
    display: flex;
    flex-direction: column;
    width: 560px;
    justify-content: start;
}

.first-text-container .cta-button {
    cursor: pointer;
    color: #fff;
    background-color: #3882F6;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
}

.first-right {
    display: flex;
    flex: 1;
    justify-content: center;
    min-width: 50%;
}

.first-img {
    display: flex;
    width: 100%;
    justify-content: center;
}

.first-img img {
    max-width: 100%; /* Das Bild wird nie breiter als sein Container */
    height: auto;
    width: auto; /* Das Bild passt sich dem verfügbaren Platz an */
    max-height: 400px; /* Maximale Höhe für das Bild */
    margin: 32px;
    flex-shrink: 1;
}

.second {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.second-text {
    display: flex;
    justify-content: center;
}

.second-text h2 {
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 100px;
    text-align: center;
}

.service-cards,
.service-cards-1,
.service-cards-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    align-items: center;
}

.service-card p {
    text-align: center;
    height: 50px;
    box-sizing: border-box;
}

.service-card div {
    border: 2px solid #3882F6;
    width: 100px;
    height: 100px;
    border-radius: 25%;
}

.third {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
}

.qoute-text {
    display: flex;
    justify-content: center;
}

.qoute-text p {
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    width: 50%;
}

.qoute-source {
    display: flex;
    width: 50%;
    align-self: center;
    justify-content: end;
}

.qoute-source p {
    font-weight: bold;
}

.fourth-main {
    display: flex;
    justify-content: center;
}

.call-to-action {
    display: flex;
    background-color: #3882F6;
    justify-content: space-between;
    width: 50%;
    padding-left: 32px;
    padding-right: 32px;
    margin: 100px;
    border-radius: .25rem;
}

.call-to-action-text {
    font-size: 18px;
    color: #E5E7EB;
}

.cta-heading {
    font-weight: bold;
    margin-bottom: -18px;
}

.cta-button {
    cursor: pointer;
    color: #fff;
    background-color: #3882F6;
    font-weight: 400;
    border: 1px solid white;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    align-self: center;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
}

.footer p {
    align-items: center;
}